{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "jsxSingleQuote": false,
    "printWidth": 120,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all"
}